weispa.Web/Service References/ServiceReference1/BaseInfoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetProvince">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetProvinceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSeriesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetModelResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendlyLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendlyLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFriendlyLinkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogNote">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogNoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogNoteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesConsultant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSalesConsultantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSalesConsultantResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDealerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDealerImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDealerImageResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetNewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnlineQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOnlineQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendOnlineQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAnswer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOnlineAnswerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOnlineAnswerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLeads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendLeadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendLeadsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedBackLeads">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeedBackLeadsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFeedBackLeadsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCarsPriceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPushList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPushListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPushListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdvertisementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAdvertisementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPromotionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCallRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendCallRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendCallRecordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSalesClueIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSalesClueIdentityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSalesClueIdentityResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncSaleClues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncSaleCluesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncSaleCluesResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncNews">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncNewsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncNewsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOnlineQAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOnlineQAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncOnlineQAsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOperationLogs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inputParam" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SyncOperationLogsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SyncOperationLogsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>